.buscador {
  width: 70%;
  height: 20px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

.tarea-boton {
  background-image: url("../images/search-icon.png");
  background-size: cover;
  background-position: center;
  width: 4%;
  height: 15px;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
}
